

#title{
    background-color: #ff4c68;
    font-family: Montserrat, Arial ,Helvetica, sans-serif;
    font-weight: 700;
}

h2{
    font-family: Montserrat, Arial,Helvetica, sans-serif;
    font-weight: 900;
}